<div class="jumbotron mt-3">
  <h1 class="display-3">Bienvenido</h1>
  <p class="lead">Prueba de Facturas en Angular5</p>
  <hr class="my-4">

    <ul>
      <li>El sistema debe presentar un login y contraseña, se deben poder registrar usuarios nuevos o logearse con un usuario existente</li>
      <li>Una vez ingresado, se debe mostrar la lista de facturas existentes para el cliente que ingresa, y un menu donde puede visualizar los impuestos (iva) pendientes y/o generar el archivo json con el detalle</li>
      <li>Cuando el usuario genere una factura nueva, esta se debe almacenar dentro de la base de datos, y el backend node debera calcular en tiempo real el impuesto de cada factura (solo IVA del 19%), el valor del iva se debera presentar una vez se guarde la informacion.</li>
      <li>Se debe presentar un menu donde el usuario ingrese a ver los impuestos pendientes, debera presentar la suma de todos los ivas correspondientes a las facturas del mes, de igual forma en dicha pantalla se debe dar la opcion de descargar el detalle de las facturas</li>
      <li>El backend node debera exponer un servicio que permita generar un reporte json donde se presente el detalle de cada factura, el iva, y el valor total de las facturas y los IVA's generados, dicho servicio debera ser consumido por el front end para generar el archivo json descargable.</li>
    </ul>
</div>
